body {
    font-family: 'Poppins', sans-serif;
    background-color: #fce4ec;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #f48fb1;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
}

#countdown {
    margin: 20px 0;
}

#timer {
    font-size: 2rem;
    color: #d81b60;
}



footer {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #d81b60;
}
